<% layout('layout') -%>
<link rel="stylesheet" href="/css/configStyle.css">
<div class="table-title">
<h3>Node Informations</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">NodeID</th>
<th class="text-left">Lat</th>
<th class="text-left">Lng</th>
<th class="text-left">Status</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
</tr>
<tr>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
</tr>
<tr>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
</tr>
<tr>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
</tr>
<tr>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
<td class="text-left">text</td>
</tr>
</tbody>
</table>