<% layout('layout') -%>
    <link rel="stylesheet" href="/css/styleGraph.css">

    <div class="center">
        <select name="sources" id="sources" class="custom-select sources" placeholder="Activity">
            <option value="addnode">Add Node</option>
            <option value="confignode">Config Node</option>
        </select>
    </div>
    <div class="botContent">
        <button class="btn btn-success" style="width: 100%; height: 50px;" onclick="action()">Ok</button>
    </div>

    <script src="/js/Graph.js"></script>
    <script type="text/javascript">
        function action() {
            var e = document.getElementById("sources");
            var strUser = e.options[e.selectedIndex].value;
            // alert(strUser);
            window.location.href = "/node/" + strUser;
        }
    </script>
