<% layout('layout') -%>
<link rel="stylesheet" href="/css/styleContact.css" type="text/css" />
<link rel="stylesheet" href="/css/normalizeContact.css" type="text/css" />
<div style="margin-top:80px"></div>
<div class="container1">
  <div class="row1 header">
    <h1>CONTACT US &nbsp;</h1>
    <h3>Fill out the form below to learn more!</h3>
  </div>
  <div class="row1 body">
    <form action="#">
      <ul>
        
        <li>
          <p class="left" style="font-size: 160%">
            <label for="first_name">first name</label>
            <input type="text" name="first_name" placeholder="John" />
          </p>
          <p class="pull-right">
            <label for="last_name" style="font-size: 160%">last name</label>
            <input type="text" name="last_name" placeholder="Smith" />      
          </p>
        </li>
        
        <li>
          <p>
            <label for="email" style="font-size: 160%">email <span class="req">*</span></label>
            <input type="email" name="email" placeholder="john.smith@gmail.com" />
          </p>
        </li>        
        <li><div class="divider"></div></li>
        <li>
          <label for="comments" style="font-size: 160%">comments</label>
          <textarea cols="46" rows="3" name="comments"></textarea>
        </li>
        
        <li style="font-size: 130%">
          <input class="btn btn-submit" type="submit" value="Submit" />
          <small style="font-size: 130%">or press <strong>enter</strong></small>
        </li>
        
      </ul>
    </form>  
  </div>
</div>