<% layout('layout') -%>
    <link rel="stylesheet" href="/css/styleHomepage.css" type="text/css" />


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp5FCefvQbDVIoiuvnlEBRXm7jjEHUKSM&callback=initMap">
    </script>

    <!-- <h3 style="padding-left: 20px; margin-top:20px;">My Google Maps Demo</h3> -->
    <div id="map" style="width: 100%"></div>


    <!-- Add Nodeid and phone -->
    <div class="modal fade" id="myModalAddNode" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign Nodeid and Phone</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newNodeid">NodeID:</label>
                        <input type="text" class="form-control" style="width: 100%" id="newNodeid">
                    </div>
                    <div class="form-group">
                        <label for="newPhone">Phone</label>
                        <input type="text" class="form-control" style="width: 100%" id="newPhone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addmarker()">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <script src="js/home.js"></script>
