<% layout('layout') -%>
<link rel="stylesheet" href="/css/styleHomepage.css" type="text/css" />
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp5FCefvQbDVIoiuvnlEBRXm7jjEHUKSM&callback=initMap">
    </script>

<!-- <h3 style="padding-left: 20px; margin-top:20px;">My Google Maps Demo</h3> -->
    <div id="floating-panel">
      <input id="addmarker" onclick="addmarker();"  type=button value="Add Markers">
      <input id="stopadd" onclick="stopAdd();" type=button value="Stop Add Markers">
      <input onclick="configMarkers();" type=button value="Config Markers">
    </div>
    <div id="map"></div>
    <script src="js/index.js"></script>
 
    
    