<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Thesis</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="/css/layoutStyle.css" rel="stylesheet" />
    <!-- Login Form -->
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/userprofile.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<!--END HEAD SECTION -->

<body>

    <script type="text/javascript">
        window.onload = function() {
            var user = checkLogin();
            console.log('this is the get user function result', user);
            console.log('location', window.location.href);
            if (window.location.href.match('/') != null || window.location.href.match('/home') != null) {
                if (user) {
                    var $control = $("#controlpanel");
                    $control.css("display", '');
                }
            }
        };
    </script>
    <!-- NAV SECTION -->


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">SKYNET</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="navbar">
                    <li id="hometag"><a href="/home">HOME</a></li>
                    <li id="graphtag"><a href="/graph">GRAPH</a></li>
                    <li id="stastictag"><a href="/static">STATIS</a></li>
                    <li id="contacttag"><a href="/contact">CONTACT</a></li>
                    <!-- Login -->


                </ul>
            </div>
        </div>
    </div>


    <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="/js/jquery.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- SLIDESHOW LIBRARY -->
    <!--    <script src="assets/js/modernizr.custom.79639.js"></script> -->
    <script src="/js/jquery.ba-cond.min.js"></script>
    <!-- <script src="assets/js/jquery.slitslider.js"></script> -->
    <!-- CUSTOM SCRIPT-->
    <!-- <script src="assets/js/custom.js"></script> -->
    <!-- Login Script -->

    <%- body %>

        <div id="footer">
            <div class="container">
                <div class="row ">
                    © 2016 www.codingyourfuture.com | All Right Reserved

                </div>

            </div>

        </div>

        <!-- Modal Login -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login/Register</h4>
                    </div>
                    <div class="modal-body">
                        <div class="formlogin">
                            <form class="register-form" action="/user/register" method="post">
                                <input type="text" name="username" placeholder="Username" />
                                <input type="password" name="password" placeholder="Password" />
                                <input type="password2" placeholder="Comfirm your passpord" />
                                <input type="text" name="name" placeholder="Full name" />
                                <input type="text" name="mail" placeholder="Email address" />
                                <button type="submit">CREATE</button>
                                <p class="message">Already registered? <a href="#">Sign In</a></p>
                            </form>
                            <form class="login-form" action="/auth/login" method="post">
                                <input type="text" class="form-control" name="username" placeholder="Username" />
                                <input type="password" class="form-control" name="password" placeholder="Password" />
                                <button type="submit">LOGIN</button>
                                <p class="message">Not registered? <a href="#">Create an account</a></p>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="refresh()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loginfail" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="description">
                            I use to design websites and applications for the web.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="refresh()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Profile -->
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="userprofile"></h4>
                    </div>
                    <div class="modal-body">
                        <h1 class="title-pen"> User Profile <span>UI</span></h1>
                        <div class="user-profile">
                            <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
                            <div class="username" id="name">
                            </div>
                            <!-- TODO: fix user profile -->

                        </div>
                        <i class="fa fa-check-square-o" aria-hidden="true" style="float:right; font-size:150%; padding-right:10%;" data-toggle="modal" data-target="#myModal3">Edit</i>
                        <footer>

                            <h1>
                                    inspired by
                                    <a href="https://dribbble.com/shots/1033074-User-Profile">
                                        <span class="entypo-dribbble"></span> shot
                                    </a>
                                </h1>
                            <div style="margin: 0 auto">
                                <div style="width: 70px; margin: 0 auto">
                                    <button class="btn btn-danger" style="width: 100%"><a href="/auth/logout" style="color: white;">Log out</a></button>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Data Info -->
        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Node Infomations</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table-fill" id="list" style="margin:40px auto">
                            <thead>
                                <tr>
                                    <th class="text-left" style="text-align: center; color: red;">NodeID</th>
                                    <th class="text-left" style="text-align: center;">Lat</th>
                                    <th class="text-left" style="text-align: center;">Lng</th>

                                    <th class="text-left" style="text-align: center; color:blue;">Phone</th>
                                    <th class="text-left" style="text-align: center;">Status</th>
                                    <th class="text-left" style="text-align: center;">Graph</th>

                                </tr>
                            </thead>
                            <tbody class="table-hover">
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>

            </div>
        </div>
</body>
<script src="/js/main.js"></script>

</html>
