<% layout('layout') -%>
    <div style="margin:70px auto">
        <div class="container">
            <h2>Replacing Node: input</h2>
            <p>The form below contains one input elements</p>
            <form class="login-form" action="/node/replacenode" method="post">
                <input type="text" class="form-control" name="oldNode" placeholder="Old node ID" />
                <input type="text" class="form-control" name="newNode" placeholder="New node ID" />
                <button type="submit">REPLACE</button>
            </form>
        </div>
    </div>
    <script src="/js/replace.js"></script>
