<% layout('layout') -%>
<script type="text/javascript">
window.onload = function () {
  <% if(temp!='nouser') {%>
    console.log("<%=temp%>");
    document.getElementById("user").innerHTML = "<%=temp%>";
    $('#modalbox').attr('data-target','#myModal1');
        document.getElementById("userprofile").innerHTML = "<%=temp%>" + " Profile";
  <%} else{%>
    console.log("error");
  <%}%>
};
</script>
<div style="margin:70px auto">
<div class="container">
  <h2>Updating Node: input</h2>
  <p>The form below contains four input elements</p>

    <div class="form-group">
      <label for="nodeid">NodeID:</label>
      <input type="text" class="form-control" style="width: 50%" id="nodeid">
    </div>
    <div class="form-group">
      <label for="lat">Lat:</label>
      <input type="text" class="form-control" style="width: 50%" id="lat">
    </div>
    <div class="form-group">
      <label for="lng">Lng:</label>
      <input type="text" class="form-control" style="width: 50%" id="lng">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" style="width: 50%" id="phone">
    </div>
    <button class="btn btn-success" onclick="updatingnode()">Update</button>

</div>
</div>
<script type="text/javascript">
	  var i = localStorage.getItem("temp");
    console.log(i);
    var array = i.split(',');
    console.log(array);
    document.getElementById('nodeid').value = array[0];
    document.getElementById('nodeid').disabled = true;
    document.getElementById('lat').value = array[1];
    document.getElementById('lng').value = array[2];
    document.getElementById('phone').value = array[3];
    // console.log(i[0]);

    function updatingnode(){
      var node_id = document.getElementById("nodeid").value;
      var lat = document.getElementById("lat").value;

      var lng = document.getElementById("lng").value;

      var phone = document.getElementById("phone").value;
      //window.location.replace("/updatenode?node="+nodeid+"&lat="+lat+"&lng="+lng+"&phone="+phone);
      $.ajax({
          type: "POST",
          url: '/updatenode',
          data: {
              'node_id': node_id,
              'lat': lat,
              'lng': lng,
              'phone': phone
          },
          dataType: 'json',
          success: function(response) {
              // you will get response from your php page (what you echo or print)
              console.log(response);
          },
          error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus, errorThrown);
          }
      });
    }
</script>
