<% layout('layout') -%>
<script type="text/javascript">
window.onload = function () {

};
</script>
<div style="margin:70px auto">
<div class="container">
  <h2>Updating Node: input</h2>
  <p>The form below contains four input elements</p>

    <div class="form-group">
      <label for="nodeid">NodeID:</label>
      <input type="text" class="form-control" style="width: 50%" id="nodeid">
    </div>
    <div class="form-group">
      <label for="lat">Lat:</label>
      <input type="text" class="form-control" style="width: 50%" id="lat">
    </div>
    <div class="form-group">
      <label for="lng">Lng:</label>
      <input type="text" class="form-control" style="width: 50%" id="lng">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" style="width: 50%" id="phone">
    </div>
    <button class="btn btn-success" onclick="updatingnode()">Update</button>

</div>
</div>
<script src="js/update.js"></script>
