<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="newsApp" ng-controller = "myNewsController">
  
    <ion-pane ng-controller="tabsController">
    
  

      <ion-tabs class="tabs-dark tabs-icon-only">
        <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home">
            <ion-side-menus>
                <ion-side-menu-content>
                  <ion-header-bar class="bar-dark">
                    <div class="buttons">
                      <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
                    </div>
                    <h1 class="title">Thesis</h1>
                  </ion-header-bar>

            <ion-content>
              <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
              </ion-refresher>
        <!-- <div class="list">

          <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Check mail
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-chatbubble-working"></i>
            Call Ma
            <i class="icon ion-ios-telephone-outline"></i>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-mic-a"></i>
            Record album
            <span class="item-note">
              Grammy
            </span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Friends
            <span class="badge badge-assertive">0</span>
          </a>

        </div> -->

              <section class="list">
                  <article class="item" ng-repeat = "newsArticle in news track by $index">
                    <a href="{{newsArticle.link}}" class="item item-avatar-left" ng-if="newsArticle.title">
                      <img ng-src="/img/hinh1.png">
                      <h2 class="noWhiteSpace">{{newsArticle.title}}</h2>
                      <p class="noWhiteSpace">{{newsArticle.content}}</p>
                      <p><i> - Posted on {{newsArticle.date}} {{newsArticle.time}}</i></p>
                    </a>
                  </article>
          
              </section>

            <ion-infinite-scroll on-infinite = "loadMore()" distance="5%">
            </ion-infinite-scroll>

            </ion-content>
        </ion-side-menu-content>

        <ion-side-menu side="left">
        <ion-list>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-home"></i>
            Home
          </a>
        </ion-list>
        <ion-list>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-pulse-strong"></i>
            Graph
          </a>
        </ion-list>
        <ion-list>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-paper"></i>
            Stastic
          </a>
        </ion-list>
        <ion-list>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-android-chat"></i>
            Contact
          </a>
        </ion-list>
        <!-- <ion-list>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-android-person"></i>
            Login
          </a>
        </ion-list> -->
      </ion-side-menu>
    </ion-side-menus>
        </ion-tab>

        <!-- tab 2 -->

        <ion-tab title="Favorites" icon-on="ion-star" icon-off="ion-star">
           <ion-content>
            <ion-slide-box pager-click="navSlide(index)">
              <ion-slide>
            
               
                  <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Node ID">
                    </label>
                    <button class="button">
                      Cancel
                    </button>
                  </div>
               
                    <div class="color-red">Graph
                    </div>
                 
               

              </ion-slide>

              <ion-slide>
              <div class="color-red">Stastic
                </div>
              </ion-slide>
            </ion-slide-box>
         
          </ion-content>
        </ion-tab>

       <!--  tab 3 -->
       <ion-tab title="Setting" icon-on="ion-gear-a" icon-off="ion-gear-a">
        <ion-content>
          <div class="list">

            <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              Check mail
              <span class="badge badge-assertive">1</span>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-chatbubble-working"></i>
              Call Ma
              <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-star"></i>
              Favorites
              <span class="badge badge-assertive">4</span>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-person-stalker"></i>
              Friends
              <span class="badge badge-assertive">0</span>
            </a>
            <div class="item item-color">Activities
            </div>
            <a class="item item-icon-left" href="#" id="login" ng-controller="AppCtrl" ng-click="modal.show()">
              <i class="icon ion-person"></i>
              Login
            </a>
            <a class="item item-icon-left" href="#" id="register" ng-controller="AppCtrl1" ng-click="modal.show()">
              <i class="icon ion-android-create"></i>
              Register
            </a>

          </div>


        </ion-content>
        <script id="templates/modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
              <h1 class="title">Login Form</h1>
              <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
              <div class="list">
                <label class="item item-input">
                  <span class="input-label">UserName</span>
                  <input ng-model="newUser.firstName" type="text">
                </label>
                <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input ng-model="newUser.lastName" type="password">
                </label>
                <!-- <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input ng-model="newUser.email" type="text">
                </label> -->
                <button class="button button-full button-positive" ng-click="createContact(newUser)">Ok</button>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>

        <script id="templates/modal.html1" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
              <h1 class="title">Register Form</h1>
              <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
              <div class="list">
                <label class="item item-input">
                  <span class="input-label">UserName</span>
                  <input ng-model="newUser.firstName" type="text">
                </label>
                <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input ng-model="newUser.lastName" type="password">
                </label>
                <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input ng-model="newUser.email" type="text">
                </label>
                <button class="button button-full button-positive" ng-click="createContact(newUser)">Ok</button>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>

       </ion-tab>
     </ion-tabs>

    </ion-pane>

    
  </body>
</html>
